@import url(style.css);

.hero {
    display: flex;
    height: 26.25rem;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.right {
    width: 50%;
    position: relative;
}

.hero-btn {
    font-size: 1.25rem;
    width: 50%;
}

.hero-btn > i {
    margin-left: 1.25rem;
}

.hero-scnd {
    display: block;
    width: 9.0625rem;
}

.hero-scnd > i {
    margin-left: .5rem;
}

#search {
    height: 3.125rem;
    width: 80%;
    padding: 0rem 1rem;
    font-size: 1.125rem;
    font-weight: 300;
    border: none;
    border-radius: 0.125rem;
    box-shadow: 0rem 0.625rem 2.1875rem rgba(0, 0, 0, .25);
    margin: 2rem 0rem;
}

#search:focus {
    outline: none;
}

#search-btn {
    display: inline-block;
    height: 3.125rem;
    width: 3.125rem;
    font-size: 1.125rem;
    background-color: var(--green);
    border: none;
    border-radius: 0.125rem;
    box-shadow: 0rem 0.625rem 2.1875rem rgba(0, 0, 0, .25);
    cursor: pointer;
}

#search-btn:hover {
    background-color: var(--dark-green);
}

.hero-img {
    position: absolute;
    right: 0;
    z-index: -10;
    background: url(../assets/img-hero.png) center no-repeat;
    background-size: cover;
    width: 130%;
    height: 26.25rem;
    border-radius: 0.125rem;
}

.card-feat {
    position: absolute;
    bottom: -15%;
    right: 0;
    margin-right: 1.5rem;
    width: 16.875rem;
    height: 9.0625rem;
    background-color: white;
    border-radius: 0.125rem;
    box-shadow: 0rem 0.625rem 2.1875rem rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.card-feat > div > h4 {
    font-size: 1rem;
    letter-spacing: -1%;
}

.profile-img-feat {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.type-title {
    color: var(--grey);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.infos-feat {
    display: flex;
    gap: 0.625rem;
}

.featured {
    margin-top: 4rem;
}

/* NFT CARD STYLE */

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-nft {
    margin-top: 1rem;
    width: 250px;
    padding: 10px;
    outline: 2px solid var(--light-grey);
    background-color: white;
}

.card-nft:hover {
    transform: scale(1.1);
    outline: 3px solid var(--black);
}

.card-nft > img {
    width: 100%;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.distr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3125rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.profile {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.distr > div > span, .distr span {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--dark-grey);
}

.profile img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625rem;
}

.details h3 {
    font-weight: 750;
}

.value span {
    display: block;
    text-align: right;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--grey);
}

.value span:first-child {
    font-size: 1.125rem;
    font-weight: 800;
    color: black;
}

.card-nft > .btn-buy{
    margin-top: 1rem;
    display: none;
}

.card-nft:hover > .btn-buy {
    display: block;
}